# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder attributes
Icon?
._*

# macOS Trash folder which may appear on external volumes
.Trashes

# macOS resource forks stored by Finder
**/._*

# macOS temporary files
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.fseventsd
